<template>
  <div class="container">
    <h1 class="text-primary text-center mt-5">RabbitMQ Chat</h1>
      <div class="form-group">
        <label for="formGroupExampleInput" style="color:blue;font-weight: bold;">You</label>
        <input v-model="myUser" type="text" class="form-control" id="formGroupExampleInput" placeholder="Type your name">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2" style="color:green;font-weight: bold;">Target user</label>
        <input v-model="targetUser" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Type the target user's name">
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Chat</label>
        <textarea v-model="chat" class="form-control" id="exampleFormControlTextarea1" rows="10" readonly></textarea>
      </div>
      <div class="form-group">
        <input v-model="myMessage" type="text" class="form-control mt-2" id="formGroupExampleInput2" placeholder="Type your message...">
      </div>
      <div class="col-auto">
        <button @click="sendMessage" class="btn btn-primary mt-2">Submit message</button>
        <button @click="getMessage" class="btn btn-primary mt-2" style="margin-left:5px;">Get message</button>
      </div>
  </div>
</template>

<script>
import axios from 'axios';
export default {
  name: 'MainApp',
  props: {
    msg: String
  },
  data(){
    return {
      myUser: '',
      targetUser: '',
      myMessage: '',
      chat: ''
    }
  },
  methods: {
    sendMessage(){
      const data = {
        message: this.myMessage,
        sourceUser: this.myUser,
        targetUser: this.targetUser
      }
      axios.post('http://localhost:3000/sendmessage', data)
      .then((response) => {
        console.log(response);
        this.chat += (this.myUser + ": " + this.myMessage + "\n");
        this.myMessage = '';
      })
      .catch((error) => {
        console.log(error);
      });
    },
    getMessage(){
      axios.post('http://localhost:3000/getmessage', {queue: this.myUser})
      .then(response => {
          console.log(response.data);
          this.chat += (response.data.message.user + ": "+response.data.message.message + "\n");
          console.log(this.chat);
      }).catch(e => {
          console.log(e);
      })
    }
  }
}
</script>