<template>
  <div id="app">
    <main-app></main-app>
  </div>
</template>

<script>
import MainApp from './components/Main.vue'

export default {
  name: 'App',
  components: {
    MainApp
  }
}
</script>